# NOTE: These are ignored by default by prettier
# **/.git
# **/.svn
# **/.hg
# **/node_modules

# Ignore artifacts:
build
coverage
**/dist

# Yarn
.pnp.*
.yarn/*
.yarnrc.*

# Typescript
*.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# temp
/tmp
